# Игнорировать папку .idea (настройки IDE)
.idea/

# Игнорировать временные файлы и папки
*.pyc
__pycache__/
*.pyo
*.pyd

# Игнорировать файлы среды разработки
.env
*.env

# Игнорировать логи
*.log

# Игнорировать кэшированные файлы
.cache/
*.egg-info/
dist/
build/

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать виртуальные окружения
venv/
env/